{% include "header.html" %}

    

    <h1> Agregar GPU </h1>
    
        
        <form action="{% url 'firstapp:gpusAdd' %}" method="POST" > 
            {% csrf_token %}
            {{ form.as_p }} <!--el (.as_p) es para dar espacios entre cada input (es como un <br>)-->
                
                
            <input type="submit" value = "Agregar GPU">               
        </form>
       

    <br>
    <a href="{% url 'firstapp:vista' %}"> Volver a la página principal </a>
      


{% include "footer.html" %}